<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="/css/lcag.css">
    <script src="/js/lcag-common.js"></script>
    <title>Loan Charge Action Group | Membership Form</title>
</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img alt="Brand" src="/images/lcag_logo.jpg" width="60">
                    </a>
                </div>
            </div>
        </nav>



        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Dear <span id="salutation">LCAG Member</span>,</p>
                            <p>Welcome to the Loan Charge Action Group secure membership form. We need to collect a few details from you in order to process
                                your application. Please provide the information requested below and we will get back to you as soon as we can.</p>
                            <p>None of the details we collect will be shared with third parties and your proof of ID and scheme documentation will be
                                deleted as soon as we have finished verifying you.</p>
                            <p>If you have any questions please contact <a href="mailto:membership@hmrcloancharge.info">membership@hmrcloancharge.info</a></p>
                            <p>Many thanks,<br/>LCAG Membership Team</p>
                        </div>
                    </div>

                    <form id="inputFieldForm" action="/submit" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="token" value="" id="token" />
                        <div class="panel panel-default">

                            <div class="panel-heading">Secure Membership Form<div class="pull-right"><i class="fa fa-lock" aria-hidden="true"></i></div></div>

                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Please enter your name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="emailAddress">Email address</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></div>
                                        <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="Please enter your email address" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mpName">MP Name</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="mpName" class="form-control" id="mpName" placeholder="Please enter the name of your MP" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mpConstituency">MP constituency</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="mpConstituency" class="form-control" id="mpConstituency" placeholder="Please enter your MP constituency" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mpParty">MP party</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="mpParty" class="form-control" id="mpParty" placeholder="Please enter your MP party" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Have you engaged your MP?</label>
                                    <div>
                                        <label class="radio-inline"> <input type="radio" name="mpEngaged" id="mpEngagedYes" value="true" required> Yes </label>
                                        <label class="radio-inline"> <input type="radio" name="mpEngaged" id="mpEngagedNo" value="false" required> No </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Is your MP sympathetic?</label>
                                    <div>
                                        <label class="radio-inline"> <input type="radio" name="mpSympathetic" id="mpSympatheticYes" value="true" required> Yes </label>
                                        <label class="radio-inline"> <input type="radio" name="mpSympathetic" id="mpSympatheticNo" value="false" required> No </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="schemes">Name of the scheme(s) you were involved with</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="schemes" class="form-control" id="schemes" placeholder="Please enter the name of the scheme(s) you were involved with" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry">Industry that you work / worked in</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="industry" class="form-control" id="industry" placeholder="Please enter the industry that you work / worked in" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="howDidYouHearAboutLcag">How did you find out about LCAG?</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="howDidYouHearAboutLcag" class="form-control" id="howDidYouHearAboutLcag" placeholder="Please tell us how you found out about LCAG" required />
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label>Are you a member of Big Group?</label>
                                    <div>
                                        <label class="radio-inline"> <input type="radio" name="memberOfBigGroup" id="memberOfBigGroupYes" value="true" required> Yes </label>
                                        <label class="radio-inline"> <input type="radio" name="memberOfBigGroup" id="memberOfBigGroupNo" value="false" required> No </label>
                                    </div>
                                </div>
                                <div id="bigGroupUsernameSection" style="display: none;">
                                    <label for="bigGroupUsername">Big Group username</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="bigGroupUsername" class="form-control" id="bigGroupUsername" placeholder="Please tell us your Big Group username" required />
                                    </div>
                                </div>
                                <div id="idDocumentationSection" style="display: none;">
                                    <p>If you are not a member of Big Group you must provide proof of ID and scheme involvement in order for us to verify your identity.</p>
                                    <p>Proof of ID should be either a scan of your passport or driving license.</p>
                                    <p>Proof of scheme involvement should be one of:</p>
                                        <ul>
                                            <li>HMRC enquiry letter</li>
                                            <li>Discovery Assessment letter</li>
                                            <li>APN letter</li>
                                            <li>Scheme contract OR loan agreement with your name visible</li>
                                        </ul>
                                    <p>Once we have verified your identity we will delete the documents you have sent us.</p>
                                    <br/>
                                    <div id="inner-message" class="alert alert-info">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-2">
                                                <i class="fa fa-info-circle fa-3x"></i>
                                            </div>
                                            <div class="col-md-11 col-sm-10">
                                                <b>Please note</b> if you have a slow internet connection and you are uploading large documents, submitting this form may take a few minutes.
                                                Please do not refresh or navigate away from the page as we may not receive your documents.
                                            </div>
                                        </div>
                                    </div>
                                    <br/>

                                    <div class="form-group">
                                        <label for="identification">Proof of ID (passport or driving license)</label>
                                        <input type="file" name="identification" class="form-control" id="identification" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="identification">Proof of HMRC enquiry or involvement in a scheme</label>
                                        <input type="file" name="proofOfSchemeInvolvement" class="form-control" id="proofOfSchemeInvolvement" required />
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer clearfix">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" id="uploadButton">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var member = null;

            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

            $(function () {
                $("input[type=radio][name=memberOfBigGroup]").change(function() {
                    if (this.value == 'true') {
                        showBigGroupUsernameSection();
                    } else {
                        showDocumentUploadSection();
                    }
                });

                $.ajax({
                    url: '/member?token=' + getParameterByName('token'),
                    method: "GET",
                    dataType: "json",
                    complete: function(response, status) {
                        if (status == "success") {
                            member = response.responseJSON;

                            console.log("member", response.responseJSON);

                            $('#name').val(member.name);
                            $('#salutation').text(member.name);
                            $('#emailAddress').val(member.emailAddress);
                            $('#mpName').val(member.mpName);
                            $('#mpConstituency').val(member.mpConstituency);
                            $('#mpParty').val(member.mpParty);
                            $('#mpEngagedYes').prop("checked", member.mpEngaged);
                            $('#mpSympatheticYes').prop("checked", member.mpSympathetic);
                            $('#schemes').val(member.schemes);
                            $('#industry').val(member.industry);
                            $('#howDidYouHearAboutLcag').val(member.howDidYouHearAboutLcag);

                            if (member.memberOfBigGroup) {
                                $("#memberOfBigGroupYes").prop("checked", member.memberOfBigGroup);
                                showBigGroupUsernameSection();
                            }

                            if (member.documentUploadError) {
                                $("#documentUploadErrorBanner").show();
                                showDocumentUploadSection();
                            }

                            $('#bigGroupUsername').val(member.bigGroupUsername);
                        }
                    }
                });

                $('#token').val(getParameterByName('token'));

                $("#inputFieldForm").validate({
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                        error.addClass( "help-block" );
                        element.parents( ".form-group" ).addClass( "has-feedback" );

                        if ($(element).attr('type') == 'radio') {
                            error.insertAfter( $(element).parent().parent() );
                        } else {
                            error.insertAfter( $(element).parent() );
                        }

                        if ( !element.next( "span" )[ 0 ] ) {
                            if ($(element).attr('type') == 'radio') {
                                $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( $(element).parent().parent() );
                            } else {
                                $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( $(element) );
                            }
                        }
                    },
                    success: function ( label, element ) {
                        if ($(element).attr('type') == 'radio') {
                            if ( !$( element ).parent().parent().next( "span" )[ 0 ] ) {
                                $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $(element).parent().parent() );
                            }
                        } else {
                            if ( !$( element ).next( "span" )[ 0 ] ) {
                                $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $(element) );
                            }
                        }
                    },
                    highlight: function ( element, errorClass, validClass ) {
                        $( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
                        if ($(element).attr('type') == 'radio') {
                            $( element ).parent().parent().next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
                        } else {
                            $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
                        }
                    },
                    unhighlight: function ( element, errorClass, validClass ) {
                        $( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
                        if ($(element).attr('type') == 'radio') {
                            console.log("element", $(element));
                            $( element ).parent().parent().next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
                        } else {
                            $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
                        }
                    }
                });
            });

            function showBigGroupUsernameSection() {
                $("#bigGroupUsernameSection").show();
                $("#bigGroupUsername").prop('required', true);
                $("#identification").prop('required', false);
                $("#proofOfSchemeInvolvement").prop('required', false);
                $("#idDocumentationSection").hide();
            }

            function showDocumentUploadSection() {
                $("#memberOfBigGroupNo").prop('checked', true);
                $("#bigGroupUsernameSection").hide();
                $("#bigGroupUsername").prop('required', false);
                console.log("member", member);
                if (member.hmrcLetterChecked == false && member.identificationChecked == false) {
                    $("#identification").prop('required', true);
                    $("#proofOfSchemeInvolvement").prop('required', true);
                    $("#idDocumentationSection").show();
                }
            }
        </script>

    </body>
</html>
